fastapi==0.116.1
uvicorn==0.35.0

gitpython==3.1.45

pydantic==2.11.7

python-dotenv==1.1.1

networkx==3.5

aiofiles==24.1.0

orjson==3.11.1

langchain
langchain-community
langchain-google-genai

sentence-transformers

qdrant-client

tiktoken

numpy

sentence-transformers==5.0.0

torch

numpy